body {
    font-family: sans-serif;
    color: white;
    background-color: #272A2D;
}

h1 {
    margin-bottom: 1em;
}

input {
    color: white;
    background-color: #1e2023;
    height: 20px;
    font-size: large;
    outline: none;
    border: none;
    border-bottom: solid white 1px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    color: white;
    background-color: #1e2023;
    height: 30px;
    margin-left: 1em;
    border: outset #99AAB5 2px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #272A2D;
}

button:active {
    border: solid #99AAB5 1px;
}

.viz {
    display: flex;
	flex-wrap: wrap;
	margin: 2em 0;
}

.chart-container {
	max-width: 400px;
	width: 100%;
	margin: 0 1em;
}
.chart-container:first-child {
	margin-left: 0;
}
.chart-container:last-child {
	margin-right: 0;
}
